div#draw-area {
    width: 80%;
    height: 100%;
    background: #F2F3F4;
    float: left;
}
div#control-area {
    width: 20%;
    height: 100%;
    background: gray;
    float: right;
    border-radius: 12px;
}
table#controls {
    width: 100%;
}
td, th {
    padding: 8px;
    text-align: center;
}
canvas {
    border: 1px solid black;
    border-radius: 12px;
}
button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 12%;
    font-size: 20px;
}
button:hover {
    background-color: #555555;
    color: white;
}
body {
    background-color: #F2F3F4
       
}